.nav-component {
  ul li {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    &:active,
    &:hover {
      color: #63e5d0;
    }

    cursor: pointer;
  }

  .menu-icon {
    width: 40px;
    height: 40px;
    right: 15px;
    position: absolute;
    .line {
      border-bottom: 2px solid #fff;
      height: 11px;
      width: 100%;
    }
  }
}
