.home-view {
  .header-section {
    h1,
    p {
      color: #fff;
    }
    p {
      font-family: "roboto";
      font-size: 14px;
    }
    h1 {
      font-family: "Playfair";
      font-size: 32px;
      font-weight: bold;
    }

    h1:after {
      content: "";
      width: 50px;
      height: 2px;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      background-color: #2c6184;
    }
    position: relative;
    // height: 200px; //temp
    &:before {
      content: "";
      background-image: url(../../images/backgrounds/bg-header.jpg);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  .expertise-section {
    h6 {
      font-size: 14px;
      font-weight: bold;
      color: #000;
      font-family: "roboto";
    }
    h2 {
      font-family: "Playfair";
      color: #413d4b;
      font-size: 22px;
      font-weight: bold;
      &:after {
        content: "";
        width: 50px;
        height: 2px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        background-color: #413d4b;
      }
    }

    p {
      color: #333333;
      font-family: "roboto";
      font-size: 14px;
    }
  }

  .watch-our-story-section {
    position: relative;

    &:before {
      content: "";
      background-image: url(../../images/backgrounds/video-bg-section.jpg);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  .out-story-section {
    p {
      color: black;
      font-size: 14px;
      font-family: "roboto";
    }
    h2 {
      font-family: "Playfair";
      font-size: 22px;
      font-weight: bold;
    }
  }

  .meet-our-organization-team-section {
    position: relative;

    h2,
    p {
      color: #fff;
    }

    h2 {
      font-size: 22px;
      font-family: "Playfair";
      font-weight: bold;
      color: #fff;

      &:after {
        content: "";
        width: 50px;
        height: 2px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        background-color: #2c6184;
      }

      p {
        font-family: "Playfair";
        font-size: 14px;
      }
    }

    &:before {
      content: "";
      background-image: url(../../images/backgrounds/background-three.jpg);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  .form-section {
    h2 {
      font-size: 22px;
      font-family: "Playfair";
      color: #413d4b;
      font-weight: bold;
    }
  }
}
