@import "../variables.scss";

.home-view {
  .h2-default-styles {
    font-family: "Playfair";
    font-size: 22px;
    font-weight: bold;
  }

  p {
    font-family: "Playfair";
    font-size: 14px;
  }

  .header-section {
    position: relative;

    h1,
    p {
      color: #fff;
    }

    h1 {
      font-family: "Playfair";
      font-size: 32px;
      font-weight: bold;
      &:after {
        @include print-classes($after-line-defaults);
        background-color: #2c6184;
      }
    }

    &:before {
      background-image: url(../../images/backgrounds/bg-header.jpg);
      @include print-classes($default-bg-styles);
    }
  }

  .expertise-section {
    h6 {
      font-size: 14px;
      font-weight: bold;
      color: #000;
      font-family: "roboto";
    }
    h2 {
      @extend .h2-default-styles;
      color: #413d4b;

      &:after {
        @include print-classes($after-line-defaults);
        background-color: #c9c7cc;
      }
    }

    p {
      color: #333333;
    }
  }

  .watch-our-story-section {
    position: relative;

    &:before {
      background-image: url(../../images/backgrounds/video-bg-section.jpg);
      @include print-classes($default-bg-styles);
    }
  }

  .out-story-section {
    p {
      color: black;
    }
    h2 {
      font-family: "Playfair";
      font-size: 22px;
      font-weight: bold;
    }
  }

  .meet-our-organization-team-section {
    position: relative;

    h2,
    p {
      color: #fff;
    }

    h2 {
      font-size: 22px;
      font-family: "Playfair";
      font-weight: bold;
      color: #fff;

      &:after {
        @include print-classes($after-line-defaults);
        background-color: #6e628a;
      }

      p {
        font-family: "Playfair";
        font-size: 14px;
      }
    }

    &:before {
      background-image: url(../../images/backgrounds/background-three.jpg);
      @include print-classes($default-bg-styles);
    }
  }

  .form-section {
    h2 {
      @extend .h2-default-styles;
      color: #413d4b;
    }
    button {
      border: 1px solid #61e1d2;
      border-radius: 0;
    }

    .form-control {
      border-radius: 0;
    }
    ::placeholder {
      color: #c3c1c6;
      font-family: "robot";
      padding: 5px;
    }
  }
}